.wrapper1 {
  max-height: 57vh;
  display: flex;
  overflow-x: auto;
  margin-bottom: 2rem;
}
.wrapper1::-webkit-scrollbar {
  width: 0;
}
.wrapper1 .item1 {
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  margin-right: 3rem;
}
.wrapper1 .item2 {
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  margin-right: 3rem;
}
.wrapper1 .item3 {
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  margin-right: 3rem;
}
.wrapper1 .item4 {
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  margin-right: 3rem;
}
.wrapper1 .item5 {
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  margin-right: 3rem;
}
#food__Info {
  display: flex;
  justify-content: space-around;
}
