@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
  font-family: "Lato", "san-sarif";
  -webkit-font-smoothing: antialiased;
  color: $dark;
  height: 100vh;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $transition;
  &:hover {
    color: $primary;
  }
}

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $transition;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary;
  transition: $transition;
  &:hover {
    background: $primary-hover;
  }
}
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}

// login
section.login {
  background: $secondary;
  min-height: calc(100vh - 86px);
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}
