@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

/*===== VARIABLES CSS =====*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #069c54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  @media screen and (min-width: 768px) {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

// body {
//   font-family: "Lato", "san-sarif";
//   -webkit-font-smoothing: antialiased;
//   color: $dark;
//   height: 100vh;
// }

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $transition;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.add-to-week {
  border: 2px solid $primary;
  color: $primary;
  transition: $transition;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary;
  transition: $transition;
  &:hover {
    background: $primary-hover;
  }
}
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}

// login
section.login {
  align-items: center;
  min-height: calc(100vh);
  width: 94vw;
  margin: auto;
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

// //////////////////

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;

  &-title,
  &-subtitle {
    text-align: center;
  }

  &-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
  }
  &-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }
  }
  &__item {
    margin-bottom: var(--mb-2);
  }
  &__link,
  &__logo,
  &__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }
  &__logo {
    &:hover {
      color: var(--first-color);
    }
  }
  &__link {
    transition: 0.3s;

    &:hover {
      color: var(--first-color);
    }
  }
  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
  &__cart {
    display: inline-block;
  }
  .shopping__cart {
    display: flex;
    border-radius: 9999px;
    align-items: center;
    background: #f1f3f2;
    padding: 0.3rem 0.6rem 0.3rem 0.8rem;
    &:hover {
      background: $primary;
      color: #27302c;
    }
  }
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}
/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &__icon {
    font-size: 1.8rem;
    color: var(--body-color);
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home {
  &__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
  }
  &__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  &__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
  }
  &__img {
    width: 300px;
    justify-self: center;
  }
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    background-color: var(--first-color-alt);
  }
}

/*========== ABOUT ==========*/
.about {
  &__data {
    text-align: center;
  }
  &__description {
    margin-bottom: var(--mb-3);
  }
  &__img {
    width: 280px;
    border-radius: 0.5rem;
    justify-self: center;
  }
}

/*========== SERVICES ==========*/
.services {
  &__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__content {
    text-align: center;
  }
  &__img {
    display: inline;
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
  }
  &__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
  }
  &__description {
    padding: 0 1.5rem;
  }
}

/*========== MENU ==========*/
.menu {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: 0.75rem;
  }
  &__img {
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
  }
  &__name,
  &__preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  &__name {
    font-size: var(--normal-font-size);
  }
  &__detail,
  &__preci {
    font-size: var(--small-font-size);
  }
  &__detail {
    margin-bottom: var(--mb-1);
  }
  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
  }
}

/*========== APP ==========*/
.app {
  &__data {
    text-align: center;
  }
  &__description {
    margin-bottom: var(--mb-5);
  }
  &__stores {
    margin-bottom: var(--mb-4);
  }
  &__store {
    width: 120px;
    margin: 0 var(--mb-1);
  }
  &__img {
    width: 230px;
    justify-self: center;
  }
}

/*========== CONTACT ==========*/
.contact {
  &__container {
    text-align: center;
  }
  &__description {
    margin-bottom: var(--mb-3);
  }
}

/*========== FOOTER ==========*/
.footer {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  &__logo {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }
  &__description {
    display: block;
    font-size: var(--small-font-size);
    margin: 0.25rem 0 var(--mb-3);
  }
  &__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
  }
  &__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
  }
  &__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);

    &:hover {
      color: var(--first-color);
    }
  }
  &__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
  }
}

a.link {
  color: $primary;
}
/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact {
    &__container {
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
    &__button {
      justify-self: center;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);

    &__list {
      display: flex;
    }
    &__item {
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu {
    &__container {
      grid-template-columns: repeat(3, 210px);
      column-gap: 4rem;
    }
    &__content {
      padding: 1.5rem;
    }
    &__img {
      width: 130px;
    }
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}

@media (max-width: 1022px) and (max-width: 1560px) {
  .container {
    max-width: 90%;
  }
  table {
    color: #1d2521;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .status-box ul li span:before {
    font-size: 34px;
  }
}
// Order status section
section.status {
  background: $secondary;
  min-height: calc(100vh - 86px);
}
.status-box {
  padding: 60px 0 0;
}
.status-box ul {
  margin-left: 84px;
}
.status-box ul li span {
  position: relative;
  padding-left: 20px;
}
// Dots
.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: $dark;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px $secondary;
}

// Icons
.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}
.status-box ul li:nth-child(1) span:before {
  content: "\f46c";
}

.status-box ul li:nth-child(2) span:before {
  content: "\f560";
}

.status-box ul li:nth-child(3) span:before {
  content: "\f818";
}

.status-box ul li:nth-child(4) span:before {
  content: "\f0d1";
}

.status-box ul li:nth-child(5) span:before {
  content: "\f582";
}
.status-box ul li {
  position: relative;
}
// Line
.status-box ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: $dark;
  margin-top: 10px;
}
// Last dot
.status-box ul li:nth-child(5) span:after {
  box-shadow: 0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
  background: $gray;
}

// dots
.status-box ul li.step-completed span:after {
  background: $gray;
}

// text
.status-box ul li.step-completed span {
  color: $gray;
}

// Current status
.status-box ul li.current span {
  color: $primary;
}

.status-box ul li.current span:after {
  background: $primary;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  // margin-top: 8px;
}

// *********STRIPE********
.StripeElement {
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  height: 40px;
  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
