<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <body>
    <section class="section bd-container dark-theme">
      <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
          <h1 class="text-3xl font-bold mb-2">Registration Successfull</h1>
          <p class="text-orange-500 text-lg mb-12">
            Id: <a class="text-green-500"><%= id %></a>
            <br />
          </p>
          <img
            class="success w-1/5 mx-auto"
            src="/img/success.png"
            alt="successfull registration"
          />
          <a
            href="/login"
            class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12"
            >Login</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
